In [ ]:
En este trabajo se va a analizar un conjunto de datos los cuales son datos tomados de Kaggle.com sobre registros de ventas
en la cadena de supermercados de Walmart.
Es importante analizar este tipo de datos para comprender el comportamiento del mercado en establecimientos tan importantes
como lo son los supermercados los cuales son parte fundamental del dia a dia de los consumidores en cualquier parte del mundo.

Para este ejercicio se tomo una base de datos con registros de 45 Walmarts de distintas regiones de estados unidos de las cuales
cada una tiene distintos departamentos. En la base de datos se toma en cuenta las temporadas fuertes de ventas como lo son 
el Super Bowl, el Dia del Trabajo, Dia de Gracias y Navidad.

In [34]:
import numpy as np
import pandas as pd
import os

os.chdir('C:/Users/RubenDario/Documents/Reconocimiento de Patrones/Untitled Folder')

df = pd.read_csv("train.csv")

print(df.describe(), '\n')

               Store           Dept   Weekly_Sales      IsHoliday
count  421570.000000  421570.000000  421570.000000  421570.000000
mean       22.200546      44.260317   15981.258123       0.070358
std        12.785297      30.492054   22711.183519       0.255750
min         1.000000       1.000000   -4988.940000       0.000000
25%        11.000000      18.000000    2079.650000       0.000000
50%        22.000000      37.000000    7612.030000       0.000000
75%        33.000000      74.000000   20205.852500       0.000000
max        45.000000      99.000000  693099.360000       1.000000

In [ ]:
Podemos observar que son alrededor de 42,000 registros en los cuales no hay valores faltantes.
En la columna de Weekly Sales el valor minimos es un valor negativo, seguramente es un dato erroneo, entrando a analizar
los datos de esta columna me encontre con una variacion muy grande derrepente me encontraba con valores de 40 y otros de 40,000.
Por eso tiene una desviacion standar tan grande.

In [25]:
print(df)

        Store  Dept        Date  Weekly_Sales  IsHoliday
0           1     1  05/02/2010      24924.50          0
1           1     1  12/02/2010      46039.49          1
2           1     1  19/02/2010      41595.55          0
3           1     1  26/02/2010      19403.54          0
4           1     1  05/03/2010      21827.90          0
5           1     1  12/03/2010      21043.39          0
6           1     1  19/03/2010      22136.64          0
7           1     1  26/03/2010      26229.21          0
8           1     1  02/04/2010      57258.43          0
9           1     1  09/04/2010      42960.91          0
10          1     1  16/04/2010      17596.96          0
11          1     1  23/04/2010      16145.35          0
12          1     1  30/04/2010      16555.11          0
13          1     1  07/05/2010      17413.94          0
14          1     1  14/05/2010      18926.74          0
15          1     1  21/05/2010      14773.04          0
16          1     1  28/05/2010      15580.43          0
17          1     1  04/06/2010      17558.09          0
18          1     1  11/06/2010      16637.62          0
19          1     1  18/06/2010      16216.27          0
20          1     1  25/06/2010      16328.72          0
21          1     1  02/07/2010      16333.14          0
22          1     1  09/07/2010      17688.76          0
23          1     1  16/07/2010      17150.84          0
24          1     1  23/07/2010      15360.45          0
25          1     1  30/07/2010      15381.82          0
26          1     1  06/08/2010      17508.41          0
27          1     1  13/08/2010      15536.40          0
28          1     1  20/08/2010      15740.13          0
29          1     1  27/08/2010      15793.87          0
...       ...   ...         ...           ...        ...
421540     45    98  06/04/2012        778.70          0
421541     45    98  13/04/2012        559.14          0
421542     45    98  20/04/2012        605.80          0
421543     45    98  27/04/2012        619.41          0
421544     45    98  04/05/2012        694.25          0
421545     45    98  11/05/2012        893.60          0
421546     45    98  18/05/2012        745.44          0
421547     45    98  25/05/2012        795.94          0
421548     45    98  01/06/2012        874.64          0
421549     45    98  08/06/2012        713.50          0
421550     45    98  15/06/2012        856.35          0
421551     45    98  22/06/2012        622.62          0
421552     45    98  29/06/2012        690.52          0
421553     45    98  06/07/2012        659.65          0
421554     45    98  13/07/2012        695.21          0
421555     45    98  20/07/2012        845.30          0
421556     45    98  27/07/2012        657.63          0
421557     45    98  03/08/2012        516.46          0
421558     45    98  10/08/2012        727.49          0
421559     45    98  17/08/2012        500.16          0
421560     45    98  24/08/2012        415.40          0
421561     45    98  31/08/2012        346.04          0
421562     45    98  07/09/2012        352.44          1
421563     45    98  14/09/2012        605.96          0
421564     45    98  21/09/2012        467.30          0
421565     45    98  28/09/2012        508.37          0
421566     45    98  05/10/2012        628.10          0
421567     45    98  12/10/2012       1061.02          0
421568     45    98  19/10/2012        760.01          0
421569     45    98  26/10/2012       1076.80          0

[421570 rows x 5 columns]

In [ ]:
Podemos observar que trae los campos:
    Store: el cual es el numero de tienda va de 1 a 45
    Dept: El departamento de cada tienda.
    Date: La semana en la que se tomaron los datos, este dato lo voy a eliminar por el momento porque no estoy seguro
        de como trabajar con lineas de tiempo.
    Weekly Sales: Las ventas que genero el departamento en dicha tienda.
    Holiday: Si esa semana estuvo  en las fechas de ventas altas.

In [35]:
df = df.drop('Date',axis=1)
df.describe()

               Store           Dept   Weekly_Sales      IsHoliday
count  421570.000000  421570.000000  421570.000000  421570.000000
mean       22.200546      44.260317   15981.258123       0.070358
std        12.785297      30.492054   22711.183519       0.255750
min         1.000000       1.000000   -4988.940000       0.000000
25%        11.000000      18.000000    2079.650000       0.000000
50%        22.000000      37.000000    7612.030000       0.000000
75%        33.000000      74.000000   20205.852500       0.000000
max        45.000000      99.000000  693099.360000       1.000000

In [42]:
from matplotlib import pyplot as plt
from scipy.cluster.hierarchy import dendrogram, linkage
%matplotlib inline
from scipy.spatial import distance


Z = linkage(distance.squareform(distance.pdist(df, 'euclidean')), 'centroid')
plt.figure(figsize=(12, 8))
dendrogram(Z, leaf_font_size=14)
plt.show()

MemoryError:

In [ ]:
Falta analizar el dendograma para calcular los centroides.

In [ ]:
Ahora se desarrolla el algoritmo de ISODATA